.project-box {
	margin-top: 80px;
	margin-bottom: 30px;
  width: 1300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.mp{
  margin: 60px;
  font-size: 36px;
  text-decoration: underline;
  text-decoration-color: #5641EA;
  text-decoration-thickness: 3.5px;
}

.project-card {
  margin: 80px;
  display: inline-block;
  width: 90%;
  height: 420px; 
  display: flex;
  align-self: center;
}

.project-image{
  width: 65%;
  border: 3px solid #001323;
  background-color: #5641EA;
  position: relative;
}

@media only screen and (max-device-width: 750px) {
	.project-image{
  width: 100%;
  opacity: 50%;
  z-index: -1;
	}
}

.project-data{
  flex-direction: column;
  width: 35%;
  padding: 20px;
}


.img-wildifre{
  background: url(/src/Images/Wildfire.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.img-crytpo{
  background: url(/src/Images/Crypto.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.img-portfolio{
  background: url(/src/Images/Port.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.img-face{
  background: url(/src/Images/Face.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.img-robo{
  background: url(/src/Images/Robo.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.img-hacks{
  background: url(/src/Images/hacks.png);
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.img-hacks:hover, .img-robo:hover,  .img-face:hover, .img-portfolio:hover, .img-crytpo:hover, .img-wildifre:hover{
  opacity: 1;
  /* cursor: pointer; */
}

.name{
  font-size: 30px;
  text-align: right;
  margin-bottom: -12px;
}
.name-opp{
  font-size: 30px;
  text-align: left;
  margin-bottom: -12px;
}
.info{
  font-size: 20px;
  position: relative;
  background-color: #393e46;
  padding: 23px;
  margin-left: -100px;
  text-align: right;
  border: 3px solid #001323;
  background-color: #fafafa;
  line-height: 25px;
}
.info-opp{
  font-size: 20px;
  line-height: 25px;
  background-color: #393e46;
  padding: 23px; 
  margin-right: -100px;
  text-align: left;
  z-index: 1;
  border: 3px solid #001323;
  background-color: #fafafa;
}

.project-skills{
  display: flex;
  align-items: flex-start;
  /* flex-direction: column; */
  margin-left: -40px;
}

.project-skills-opp{
  display: flex;
  align-items: flex-end;
  /* flex-direction: column; */
  text-align: right;
  
}

.skill{
  padding: 7px;
  list-style-type: none;
}

.project-links{
  display: flex;
  flex-direction: row;
}

.project-links-opp{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: -20px;
}

.demo {
  color: #5641EA;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 10px 30px 8px 30px;
  border: 2.3px solid #5641EA;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  margin-right: 25px;
}

.demo:hover {
  color: #ffffff;
  background-color: #5641EA;
}


/* @media screen and (min-width: 1440px){
  .porjectBG {
    position: absolute;
    top: auto;
    bottom: auto;
    overflow: visible;
    -webkit-transform: translate(0px, 0%);
    -ms-transform: translate(0px, 0%);
    transform: translate(0px, 0%);
  }
}

.porjectBG {
  position: absolute;
  left: 300px;
  z-index: -1;
  margin-top: 20px;
  width: 43%;
  transform: rotateY(-180deg);
}

@media screen and (min-width: 1440px){}
.porjectBG-opp {
    position: absolute;
    width: 100%;
}

.porjectBG-opp {
  position: absolute;
  right: 350px;
  z-index: -1;
  width: 35%;
} */