.project-box {
	margin-top: 80px;
	margin-bottom: 30px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.mp{
margin: 60px;
font-size: 36px;
text-decoration: underline;
text-decoration-color: #F7CA17;
text-decoration-thickness: 3.5px;
}
.card {
    border: 1px solid rgb(5, 5, 5);
    border-radius: 1rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.247), 0 15px 12px rgba(0, 0, 0, 0.247);
    margin-bottom: 50px;
    display: inline-block;
    width: 900px;
    height: 450px; 

}
.image{
    width: 35%;
}
.data{
    flex-direction: column;
    width: 65%;
    padding: 40px;
    border: solid 2px black;
}
.skills{
    display: flex;
    flex-direction: row;
}

.skill{
    padding: 10px;
    margin: 5px;
    border: solid 1.4px #F7CA17;
    border-radius: 7px;
}