.foot{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #F7CA17;
    position: fixed;
    bottom:0px;
}

.socials{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 60px;
  padding-top:50px ;
  padding-left: 50px;
  
  
}

.mail{ 
  padding: 60px;
  padding-top:50px ;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  writing-mode: vertical-lr;
}

.social-links{
    list-style: none;
    text-align: center;
}