@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.header{
	position: relative;
    padding: 80px;
    align-items: stretch;
    background-color: #000;
    background-image: url("https://assets.website-files.com/5d7fff8297d2f2362bc02ca9/5fac36560db9c75ab13090ba_fresh-cta-background.jpg");
    background-size: cover;

}

.header-box {
	 position: relative;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
	 margin-top: 50px;
	 width: 100%;
	 color: rgb(255, 255, 255);
	 padding: 200px;
	 background-color: rgba(255, 255, 255, 0.007);
	 backdrop-filter: blur(25px);
}

@media only screen and (max-device-width: 1500px) {
	.header-box{
		margin-top: -20px;
		margin-bottom: 30px;
		 position: relative;
		 display: flex;
		 justify-content: center;
		 flex-direction: column;
	  }
  }

.header-box .title {
	 width: 550px;
	 position: relative;
	 display: flex;
	 align-items: center;
	 height: 50px;
	 justify-content: center;
	 margin: 20px;
}

.header-box .title .block {
	 width: 0%;
	 height: inherit;
	 background: #5641EA;
	 position: absolute;
	 height: 80px;
	 animation: mainBlock 1.5s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
	 display: flex;
}

.header-box .title h1 {
	 color: #eeeeee;
	 font-size: 85px;
	 animation: mainFadeIn 1.2s forwards;
	 animation-delay: 1.3s;
	 opacity: 0;
	 display: flex;
	 align-items: baseline;
	 position: relative;
}

@media only screen and (max-device-width: 550px) {
	.header-box .title h1{
		color: #eeeeee;
		font-size: 45px;
		animation: mainFadeIn 1.2s forwards;
		animation-delay: 1.3s;
		opacity: 0;
		display: flex;
		align-items: center;
		position: relative;
		margin: 15px;
	}
  }

h2{
	font-size: 30px;
}
  @media only screen and (max-device-width: 550px) {
	.header-box h2{
		margin: 15px;
		font-size: 22px;
	}
  }


.header-box .title h1 span {
	 width: 0px;
	 height: 0px;
	 border-radius: 50%;
	 background: #5641EA;
	 animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
	 animation-delay: 1.3s;
	 margin-left: 5px;
	 margin-top: -10px;
	 position: absolute;
	 bottom: 13px;
	 right: -12px;
}

 @keyframes mainBlock {
	 0% {
		 width: 0%;
		 left: 0;
	}
	 50% {
		 width: 100%;
		 left: 0;
	}
	 100% {
		 width: 0;
		 left: 100%;
	}
}

 @keyframes secBlock {
	 0% {
		 width: 0%;
		 left: 0;
	}
	 50% {
		 width: 100%;
		 left: 0;
	}
	 100% {
		 width: 0;
		 left: 100%;
	}
}

 @keyframes mainFadeIn {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}

 @keyframes popIn {
	 0% {
		 width: 0px;
		 height: 0px;
		 background: #5641EA;
		 border: 0px solid #ddd;
		 opacity: 0;
	}
	 50% {
		 width: 10px;
		 height: 10px;
		 background: #5641EA;
		 opacity: 1;
		 bottom: 40px;
	}
	 65% {
		 width: 7px;
		 height: 7px;
		 bottom: 0px;
		 width: 15px;
	}
	 80% {
		 width: 10px;
		 height: 10px;
		 bottom: 20px;
	}
	 100% {
		 width: 10px;
		 height: 10px;
		 background: #5641EA;
		 border: 0px solid #222;
		 bottom: 13px;
	}
}
 @keyframes secFadeIn {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 0.5;
	}
}
.contacts{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: center;
	width: 460px;
	
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.contacts{
		width: 320px;
	}
  }


.lnk{
	color: #5641EA;
	padding-right:10px;
	padding-left:10px;
	font-size: 28px;
}

.icon1{
	color: #5641EA;
	padding-right:10px;
	padding-left:20px;
	font-size: 28px;
	cursor: pointer;
}

.icon2{
	color: #5641EA;
	padding-right:10px;
	padding-left:10px;
	font-size: 28px;
	cursor: pointer;
}

.icon3{
	color: #5641EA;
	padding-right:20px;
	padding-left:10px;
	font-size: 28px;
	cursor: pointer;
}
.icon1:hover, .icon2:hover, .icon3:hover{
	color: #9588f7;
  }
.line {
	width: 150px;
	height: 2px;
	background:#5641EA;
  }

  @media only screen and (max-device-width: 550px) {
	.line{
		display: none;
	}
  }